{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container col-md-6">
        <h1 class="mt-3">Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.address) }}
            {{ form_row(registrationForm.city) }}
            {{ form_row(registrationForm.zipcode) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary mt-3 mb-3">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
