<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ecommerce{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('assets/css/custom_styles.css') }}">

        {# defer pour ne pas que le js de boostrap ne démarre avt d'avoir chargé le DOM #}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>

        {% block javascripts %}{% endblock %}

        <script src="{{ asset('assets/js/custom_scripts.js') }}" defer></script>
    </head>

    <body>
        {% include '_partials/_nav.html.twig' %}

        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message text-center">
                    <strong>Your account is not activated. </strong><a href="{{ path('resend_verif') }}">Resend the activation link.</a>
                </div>
            </div>
        {% endif %}

        {% include '_partials/_flash.html.twig' %}

        {% block body %}{% endblock %}

        <div class="mt-5">
        {% include '_partials/_footer.html.twig' %}
        </div>
    </body>

</html>
